<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- sim bringup-->
  <include file="$(find driver_bringup)/launch/real_bringup.launch">
    
    <arg name="robot" value="generic_arm"/>
    <arg name="sim" value="false"/>

  </include>

  <!-- start move group-->
  <include file="$(find moveit_interface)/launch/moveit.launch"/>

  <!-- set start position if you want-->
  <!--node name="Set_Start_Arm_Pos" pkg="moveit_interface" type="set_start_pos.py" respawn="false" output="screen"/-->

  <!-- rviz -->
  <arg name="rviz_config" default="basic"/>
  <include file="$(find arm_viz)/launch/rviz.launch">
    <arg name="config" value="$(arg rviz_config)" />
  </include>

</launch>